.container {
  min-height: 100vh;
  padding: 16px;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fit,240px);
  grid-template-rows: auto;
  grid-gap: 18px;
}

.post-container {
  padding: 16px 0px;
}

.post-container > h2 {
  margin: 8px 0px 16px;
}
