.container {
  min-height: 100vh;
  padding: 16px;
}

.post-container {
  display: flex;
  flex-direction: row;
}

.post-author {
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  .post-container {
    flex-direction: column;
  }

  .post-author {
    margin-left: 0px;
    margin-top: 16px;
  }
}

.title {
  font-size: 1em;
}

.comments {
  max-width: 700px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.comments-title {
  margin: 0px;
}

.comment:not(:first-child) {
  margin-top: 32px;
}

.comment-header {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.comment-body {
  margin: 0px;
  margin-top: 4px;
}
